{% include 'base.html.twig' %}
{% block body %}
    {% for project in projects %}
        <hr>
        <div class="projects">
            <div class="projects_project">
                <a href="projet/{{ project.id }}" >{{ project.name }}</a>
                <div class="projects_image-logo">
                    <div class="projects_image">
                        <img src="{{ asset('build/images/project/'~project.picture) }}">
                    </div>
                    <div class="projects_logo">
                        <img src="{{ asset('build/images/logo/'~project.logoPicture) }}">
                    </div>
                </div>
                <div class="projects_text">
                    <div class="projects_text-position">
                        <p>{{ project.synopsis }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
