<nav class="navbar">
    <div class="nav-text">
        <a href="{{ path('home') }}">
            <h3>Portfolio</h3>
        </a>
    </div>
    <div class="nav-text">
        <h2>Marcel Lavergne</h2>
    </div>
    <div class="icons-network">
        <a target="_BLANK" href="https://github.com/marcel-lavergne?tab=repositories">
            <img
                    class="icon icon-github"
                    src="{{ asset('build/images/logo/github.svg') }}"
                    alt="logo github"
            />
        </a>
        <a target="_BLANK" href="https://www.linkedin.com/in/marcel-lavergne-902726198/">
            <img
                    class="icon icon-linkedin"
                    src="{{ asset('build/images/logo/linkedin.svg') }}"
                    alt="logo linkedin"
            />
        </a>
    </div>
    <div class="login-button">
        {% if app.user %}
            <a class="login" href="{{ path('app_logout') }}">
                <img
                        class="icon"
                        src="{{ asset('build/images/logo/logout.svg') }}"
                        alt="logout logo"
                />
            </a>
        {% else %}
            <a class="logout" href="{{ path('app_login') }}">
                <img
                        class="icon"
                        src="{{ asset('build/images/logo/login.svg') }}"
                        alt="login logo"
                />
            </a>
        {% endif %}
    </div>
</nav>
