{% extends 'base.html.twig' %}
{% block body %}
    <div class="error404">
        <div class="error404-1">
            <div class="error404_1-1">
                <div class="error404_1_1-1">
                    <img src="{{ asset('build/images/project/d\'une fleure à l\'autre.png') }}">
                </div>
                <div class="error404_1_1-2">
                    <img src="{{ asset('build/images/project/d\'une fleure à l\'autre.png') }}">
                </div>
                <div class="error404_1_1-3">
                    <img src="{{ asset('build/images/project/d\'une fleure à l\'autre.png') }}">
                </div>
            </div>
            <div class="error404_1-2">
                <div class="error404_1_2-1">
                    <img src="{{ asset('build/images/project/d\'une fleure à l\'autre.png') }}">
                </div>
            </div>
            <div class="error404_1-3">
                <div class="error404_1_3-1">
                    <img src="{{ asset('build/images/project/d\'une fleure à l\'autre.png') }}">
                </div>
                <div class="error404_1_3-2">
                    <img src="{{ asset('build/images/project/d\'une fleure à l\'autre.png') }}">
                </div>
                <div class="error404_1_3-3">
                    <img src="{{ asset('build/images/project/d\'une fleure à l\'autre.png') }}">
                </div>
            </div>
        </div>
        <div class="error404-2">
            <div class="error404_2-1">
                <div class="error404_2_1-1">
                    <img src="{{ asset('build/images/project/wild-project.png') }}">
                </div>
                <div class="error404_2_1-2">
                    <img src="{{ asset('build/images/project/wild-project.png') }}">
                </div>
                <div class="error404_2_1-3">
                    <img src="{{ asset('build/images/project/wild-project.png') }}">
                </div>
            </div>
            <div class="error404_2-2">
                <div class="error404_2_2-1">
                    <img src="{{ asset('build/images/project/wild-project.png') }}">
                </div>
                <div class="error404_2_2-2">
                    <img src="{{ asset('build/images/project/wild-project.png') }}">
                </div>
            </div>
            <div class="error404_2-3">
                <div class="error404_2_3-1">
                    <img src="{{ asset('build/images/project/wild-project.png') }}">
                </div>
                <div class="error404_2_3-2">
                    <img src="{{ asset('build/images/project/wild-project.png') }}">
                </div>
                <div class="error404_2_3-3">
                    <img src="{{ asset('build/images/project/wild-project.png') }}">
                </div>
            </div>
        </div>
        <div class="error404-3">
            <div class="error404_3-1">
                <div class="error404_3_1-1">
                    <img src="{{ asset('build/images/project/orientation.png') }}">
                </div>
                <div class="error404_3_1-2">
                    <img src="{{ asset('build/images/project/orientation.png') }}">
                </div>
                <div class="error404_3_1-3">
                    <img src="{{ asset('build/images/project/orientation.png') }}">
                </div>
            </div>
            <div class="error404_3-2">
                <div class="error404_3_2-1">
                    <img src="{{ asset('build/images/project/orientation.png') }}">
                </div>
            </div>
            <div class="error404_3-3">
                <div class="error404_3_3-1">
                    <img src="{{ asset('build/images/project/orientation.png') }}">
                </div>
                <div class="error404_3_3-2">
                    <img src="{{ asset('build/images/project/orientation.png') }}">
                </div>
                <div class="error404_3_3-3">
                    <img src="{{ asset('build/images/project/orientation.png') }}">
                </div>
            </div>
        </div>
    </div>
    <div class="error404-message">
        <h1>Il semble que tu te sois perdu, tu peux revenir à l'accueil avec ce bouton</h1>
        <a href="{{ path('home') }}">
            <button class="btn fake">Cliques ici</button>
        </a>
    </div>
{% endblock %}
